<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/perfil.css">
    
</head>
<body>

<div class="profile-container">
        <h1>PERFIL</h1>
        
        <div class="avatar-section">
            <div class="avatar-placeholder">
                <button class="edit-icon">✎</button>
            </div>
        </div>

        <form>
            <div class="input-group">
                <label>NOMBRE</label>
                <input type="text" placeholder="Escribe tu nombre">
            </div>
            <div class="input-group">
                <label>APELLIDO</label>
                <input type="text" placeholder="Escribe tu apellido">
            </div>
            <div class="input-group">
                <label>CORREO</label>
                <input type="email" placeholder="ejemplo@correo.com">
            </div>
            <div class="input-group">
                <label>TELÉFONO</label>
                <input type="tel" placeholder="Tu número">
            </div>

            <button type="submit" class="save-btn">GUARDAR CAMBIOS</button>
        </form>
    </div>
    <div id="avatarModal" class="modal">
    <div class="modal-content">
        <h3>Selecciona tu avatar</h3>
        <div class="avatar-options">
            <img src="img/icono_hombre.png" onclick="selectAvatar('img/icono_hombre.png')" alt="Hombre">
            <img src="img/icono_mujer.png" onclick="selectAvatar('img/icono_mujer.png')" alt="Mujer">
        </div>
        <button onclick="closeModal()">Cancelar</button>
    </div>
</div>
    <script src="../../static/js/perfil.js"></script>
</body>
</html>